@import '../../../styles/variables.less';

.todo-list {
    border: 2px solid @border-color;
    width: 580px;
    height: 80vh;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 1px rgba(0, 150, 94, 0.2);
}