<nz-modal nzWidth='800px' [nzTitle]="'task.preview' | translate" [(nzVisible)]="showVisible" (nzOnCancel)="concelCreateTask()" [nzFooter]='null'>
    <ng-container *nzModalContent>
        <div class="preview-body">
            <div class="preview-content">
                <div class="title">{{task.title}}</div>
                <div class="content">{{task.content}}</div>
            </div>
            <div class="btn-group" >    
                <button nz-button nzType="primary" (click)='editTaskVisible = true'>
                    {{'task.edit' | translate}}
                 </button>             
                <nz-select class="status-select" [(ngModel)]="currentStatus">                 
                    <nz-option [nzValue]="item.key" [nzLabel]="item.label" *ngFor="let item of TaskStatusList">
                    </nz-option>             
                </nz-select>                  
                <button nz-button nzType="primary" (click)='showDeleteVisible = true'>
                    {{'task.delete' | translate}}
                </button>         
                <button nz-button nzType="primary" (click)='updateTask()'>
                    {{'task.sure' | translate}}
                </button>         
            </div>
        </div>
    </ng-container>
</nz-modal>

<app-create-task 
    [(showVisible)]='editTaskVisible' 
    [(task)]='task' [isEdit]= 'true'>
</app-create-task>

<app-delete-modal 
    [(showDeleteVisible)]='showDeleteVisible' 
    (ok)="confirmDelete()" 
    (cancel)="cancelDelete()" 
    [task]='task'>
</app-delete-modal>
