<nz-card class="task-card" [nzTitle]="task.title" [nzExtra]="extraTemplate" (dblclick)= 'showPreviewVisible = true'>
    <p>{{task.content}}</p>
</nz-card>
  <ng-template #extraTemplate let-row>
    <i nz-icon nzType="close" nzTheme="outline" (click)='showDeleteVisible=true'></i>
  </ng-template>
  <app-delete-modal (ok)="confirmDelete()" (cancel)="cancelDelete()" [(showDeleteVisible)]='showDeleteVisible' [task]='task'></app-delete-modal>
  <app-preview-task (ok)="confirmPreview()" (cancel)="cancelPreview()" [(showVisible)] = 'showPreviewVisible' [task] = 'task'></app-preview-task>
