@import '../../../styles/variables.less';

.task-card {
    width: 400px;
    margin-top: 20px;
    ::ng-deep {
        .ant-card-extra {
            margin-left: 10px;
        }
        .ant-card-body pre {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 5;
        }
    }
}