@import '../../../styles/variables.less';

.task-card {
    width: 400px;
    margin-top: 20px;
}

.delete-modal {
    display: flex;
    align-items: center;
    .warning-icon {
        margin-right: 4px;
    }
    
}