<nz-card class="task-card" [nzTitle]="task.title" [nzExtra]="deleteIconTemplate" (dblclick)= 'previewModalVisible = true'>
    <pre >{{task.content}}</pre>
</nz-card>

<ng-template #deleteIconTemplate let-row>
    <i nz-icon nzType="close" nzTheme="outline" (click)='deleteModalVisible=true'></i>
</ng-template>

<app-delete-modal (ok)="confirmDelete()" (cancel)="cancelDelete()" [(deleteModalVisible)]='deleteModalVisible' [task]='task'></app-delete-modal>

<app-preview-task (ok)="confirmPreview()" (cancel)="cancelPreview()" [(showVisible)] = 'previewModalVisible' [task] = 'task'></app-preview-task>
